{% extends "layout.html"%}
{% block title %}
Login
{% endblock %}

{% block headline %}
{{title}}
{% endblock %}

{% block content %}
<p>{{message}}</p>
<form method="post" action="/login">
<table>
        <tr>
        <th>id</th>
        <td>
        <input type="text" name="id" value="{{id}}">
        </td>
        </tr>
        <th>password</th>
        <td>
        <input type="password" name="pass">
        </td>
        </tr>
        <td>
            <input type="submit" value="login">
        </td>
        </div>
</form>
</table>
{% endblock %}

{% block footer %}
copyright 2026 Nomoto Yuta.
{% endblock %}